.aws
.CFUserTextEncoding
.dockercfg
.dropbox
.gem
.local
.localized
.macos
.npm
.node-gyp
.rbenv
.rspec
.ssh
.viminfo
.vimswap
.vimundo
.wakatime*
*.pem
*history
authorized_keys
credentials
Desktop
Documents
Downloads
Dropbox
go
id_rsa*
Library
Movies
Music
Pictures
Public
sites
learning
*nodemon*